

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

.image {
    margin: 0;
    padding: 0;
	height:1100px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://img-cdn.pixlr.com/image-generator/history/66f4dff1628a48c3c43a8650/e4f05116-792d-4733-b9f4-2c435658b027/preview.webp');
    background-size: cover;
    background-position: center;
	
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Dark transparent overlay */
    z-index: 0;
	height:1100px;

}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}


	.form-screen {
		background: rgba(192, 185, 185, 0.3);
		position: relative;
		height: 600px;
		width: 360px;
		box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
	}
	



.form-content {
	background-color: transparent;
	position: relative;
	height: 100%;
	z-index: 1;
}

.background-decor {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	clip-path: inset(0 0 0 0);
}

.shape {
	transform: rotate(45deg);
	position: absolute;
}

.shape1 {
	height: 620px;
	width: 620px;
	background:  #fefefe8f;
	top: -50px;
	right: 120px;
	border-radius: 0 72px 0 0;
}

.shape2 {
	height: 220px;
	width: 220px;
	background:  #fefefe8f;
	top: -172px;
	right: 0;
	border-radius: 32px;
}

.shape3 {
	height: 400px;
	width: 200px;
	background: #fefefe8f;
	top: 420px;
	right: 50px;
	border-radius: 60px;
}

.login-form {
	width: 300px;
	padding: 30px;
	padding-top: 160px;
	
}

.input-field {
	color: #000000;
	position: relative;
	padding: 20px 0;
}

.icon {
	position: absolute;
	top: 30px;
	color: #cf5f57;
}

.input {
	border: none;
	border-bottom: 2px solid #d9d9d9;
	background: none;
	padding: 10px;
	padding-left: 24px;
	width: 75%;
	font-weight: bold;
	transition: 0.2s;
}

.input:hover,
.input:focus {
	outline: none;
	border-bottom-color: #fefefe;
}

.submit-button {
	background-color: #310404;
	font-size: 15px;
	margin-top: 30px;
	padding: 10px 10px;
	border-radius: 50px;
	border: 1px solid #d9d9d9;
	text-transform: uppercase;
	font-weight: bold;
	display: flex;
	align-items: center;
	width: 35%;
	color: #f9e6e6c3;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: 0.2s;
	
	
}

.submit-button:hover {
	border-color: #f8f8f8;
}

.button-icon {
	font-size: 24px;
	margin-left: auto;
	color: #d35400;
}

.alternative-login {
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0;
	right: 0;
	color: #000000;
}
.message{
	font-size: x-small;
	margin-top: 20px;
	
	
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-link {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.icon-link:hover {
	transform: scale(1.5);
}
